body{
    background: url(/images/blur1.png);
}

h2{
    color: lime;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}

img{
    padding-left: 250px;
    width: 1000;
    height: 600;
}

p{
    color: lime ;
    font-family: monospace;
    font-size: 30px;
}

section {
    padding: 5px;
    margin: 30px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(103, 101, 101); 
}

/* for mobiles of width px */

@media (max-width: 430px) {
    header {
        font-size: 1.2em;
    }

    .certs{
        height: 200px;
        width: 300px;
        padding-left: 50px !important;
    }
}