body {
    color: #eee; /* Light text color */
    font-family: 'Audiowide', cursive; /*  Font choice */
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-image: url(/images/blur1.png);
}

section{
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
}

section p{
    font-family: monospace;
    color: #eee;
    text-align: center;
    font-size: 200%;
}

section p a{
    color: lime;
    font-family: monospace;
    text-decoration: none;
}

.nav {
    margin: 10px;
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .nav * {
    box-sizing: border-box;
  }
  
  .nav li {
    list-style: outside none none;
  }
  
  #name {
      color: lime;
      padding-top: 50px;
    }

#foot{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(23, 23, 23);
   text-align: center;
   padding: 10px;
}

.fa  {
  text-decoration: none;
  text-align: center;
  color: white;
  width: 50px;
  font-size: 700px;
  right: 50%;
  
}

.fa:hover{
  color: lime;
}

.fa-instagram{
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  width:20px;
}

.fa-github{
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  width:20px;
}

.fa-linkedin{
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  width:20px;
}