body {
    margin: 0;
    padding: 0;
    /* cursor: crosshair; */
    overflow-y: hidden;
    overflow: hidden;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(41deg, rgba(138,138,142,1) 0%, rgba(70,70,71,1) 20%, rgba(0,0,0,1) 50%, rgba(85,82,82,1) 78%, rgba(199,200,200,1) 100%);
    /* background: linear-gradient(41deg, rgba(255,255,255,1) 0%, rgba(216,216,226,1) 29%, rgba(5,252,21,1) 50%, rgba(223,222,222,1) 77%, rgba(242,246,246,1) 97%);  */
    /* background: linear-gradient(41deg, rgba(255,255,255,1) 0%, rgba(216,216,226,1) 34%, rgba(5,252,21,1) 50%, rgba(223,222,222,1) 66%, rgba(242,246,246,1) 97%);  */
       /* background-image: linear-gradient(225deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
       /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       /* background: linear-gradient(to left,#000000 20%, #878787 80%); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 200% 200%;
    animation: bars 10s ease-in-out infinite;
}

#left-side, #right-side {
    width: 50%; /* Keep it consistent to avoid splits */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.4s ease-in-out;
}

#path {
    color: lime;
    bottom: 0;
    display: block;
    position: absolute;
    top: 20%;
}

#arrow {
    color: rgb(30, 30, 30);
    bottom: 0;
    display: block;
    position: absolute;
    top: 30%;
}

#left-side a {
    font-weight: bolder;
    color: lime; 
    font-size: 50px;
    text-decoration: none;
    text-shadow: 0px 0px 0px rgb(0, 225, 0);
    transition: 0.2s;
}

#left-side h1 {
    color: transparent;
    /* background: linear-gradient(90deg, #00ff99, #006633); */
    /* background: radial-gradient(circle, rgb(0, 0, 0) 33%, rgba(242,246,246,1) 72%);  */
    /* background: radial-gradient(circle, rgba(242,246,246,1) 9%, rgba(11,11,11,1) 44%, rgba(242,246,246,1) 63%);  */
    /* background: radial-gradient(circle, rgba(242,246,246,1) 0%, rgba(11,11,11,1) 29%, rgba(242,246,246,1) 39%);  */
    /* background: radial-gradient(circle, rgba(242,246,246,1) 0%, rgba(2,239,2,1) 29%, rgba(242,246,246,1) 39%);  */
    /* background: rgb(2,239,2); */
    /* background: linear-gradient(142deg, rgba(2,239,2,1) 13%, rgba(242,246,246,1) 90%);  */
    background: linear-gradient(180deg, rgba(2,239,2,1) 30%, rgba(242,246,246,1) 70%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bars 10s ease-in-out infinite;
}

/* Animation for the entire background */
@keyframes bars {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%; /* Moves the background fully */
    }
    100% {
        background-position: 0% 50%; /* Moves it back to the start */
    }
}

#left-side a:hover {
    color: rgb(243, 244, 245);
    text-shadow: 0px 0px 8px rgb(247, 250, 247);
    font-size: 55px;
    transition: 0.2s;
}

#right-side p {
    color: rgb(242, 239, 239);
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

#right-side a {
    color: lime;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.2s;
}


#sist:hover {
    font-size: 25px;
    transition: 0.2s;
}

#emoji {
    cursor: crosshair;
}





/* Custom Fonts */

@font-face {
    font-family: bionical;
    src: url(/fonts/BionicalDemo-8MJ5A.ttf);
}

@font-face {
    font-family: lines;
    src: url(/fonts/Exwayer-X3eqa.ttf);
}

@font-face {
    font-family: glitch;
    src: url(/fonts/GlitchGoblin-2O87v.ttf);
}

@font-face {
    font-family: android;
    src: url(/fonts/Android.ttf);
}




/* Responsive Styles */
@media (max-width: 768px) {
   

    #container {
        flex-direction: column;
        overflow-y: scroll !important;
    }

    #left-side, #right-side {
        width: 100%;
    }

    #left-side {
        height: 50%;
        margin-left: 0;
        margin-right: 0;
    }

    #right-side {
        height: 50%;
        padding: 20px;
    }

    #left-side a {
        font-size: 30px;
    }

    #right-side p {
        font-size: 16px;
        text-align: center;
        padding: 0;
    }
}
