body {
    color: #eee; /* Light text color */
    font-family: 'Audiowide', cursive; /*  Font choice */
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-image: url(/images/blur1.png);
}

section{
    padding: 20px;
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
}

section p{
    font-family: monospace;
    color: #eee;
    text-align: center;
    font-size: 200%;
}

section p a{
    color: lime;
    font-family: monospace;
    text-decoration: none;
}

.nav {
    margin: 10px;
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .nav * {
    box-sizing: border-box;
  }
  
  .nav li {
    list-style: outside none none;
  }
  
  .nav a {
    padding: .5em .8em;
    position: relative;
    color: #eee;
    text-decoration: none;
    font-family: monospace;
    text-shadow: 0 0 10px black;
    font-size: 250%;
  }
  


  .nav a:hover {
    color: #0f0;
  }

#explore a{
  padding: 25px 30px;
  padding-top: 20px;
  background-color: #050801;
  color: lime;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none ;
  font-family: monospace;
}

#explore a:hover{
    background: lime;
    color: #050801;
    box-shadow: 0 0 5px lime,
                0 0 25px lime,
                0 0 50px lime,
                0 0 200px lime;
     -webkit-box-reflect:below 1px linear-gradient(transparent, lime);
}

#foot{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(23, 23, 23);
   text-align: center;
   padding: 10px;
}

.fa  {
  text-decoration: none;
  text-align: center;
  color: white;
  width: 50px;
  font-size: 700px;
  right: 50%;
  
}

.fa:hover{
  color: lime;
}

.fa-instagram{
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  width:20px;
}

.fa-github{
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  width:20px;
}

.fa-linkedin{
  padding: 10px;
  background-color: black;
  border-radius: 50%;
  width:20px;
}