/* General Styles */
body {
    color: #eee; /* Light text color */
    font-family: 'Audiowide', cursive; /*  Font choice */
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-image: url(/images/blur1.png);
}

/* Navigation */
#nav {
    padding: 15px 20px;
    text-align: center;
    position: relative; /* To position the SVG */
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline-block;
    margin: 0 10px;
}

#nav a {
    text-decoration: none;
    color: #eee;
    transition: color 0.3s ease;
    font-family: monospace;
    font-size: 2em;

}

#nav a:hover {
    color: #0f0; /* Green hover effect */
}

#nav h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 0 0 5px lime; /* Green text shadow */
    font-family: monospace; 
    padding-top: 20px;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: #333; /* Darker background for sections */
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(103, 101, 101); /* Green box shadow */
}

section h2 {
    margin-top: 0;
    font-family: monospace;
    font-size: 40px;
    
}

section p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    
}

/* Footer */
footer {
    padding: 10px;
    text-align: center;
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-family: monospace;
}

.nav {
    margin: 10px;
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .nav * {
    box-sizing: border-box;
  }
  
  .nav li {
    list-style: outside none none;
  }
  
  .nav a {
    padding: .5em .8em;
    position: relative;
  }
  
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #0f0;;
    border-right: 3px solid #0f0;;
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #0f0;
    border-left: 3px solid #0f0;
    transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: #0f0;
  }

  