/* General Styles */
body {
    color: #eee; /* Light text color */
    font-family: 'Audiowide', cursive; /*  Font choice */
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-image: url(/images/back.png);
}

/* Navigation */
#nav {
    padding: 15px 20px;
    text-align: center;
    position: relative; /* To position the SVG */
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline-block;
    margin: 0 10px;
}

#nav a {
    text-decoration: none;
    color: #eee;
    transition: color 0.3s ease;
}

#nav a:hover {
    color: #0f0; /* Green hover effect */
}

#nav h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 0 0 5px lime; /* Green text shadow */
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: #333; /* Darker background for sections */
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 60, 0); /* Green box shadow */
}

section h2 {
    margin-top: 0;
}

section p {
    font-family: 'Courier New', Courier, monospace;
}

/* Footer */
footer {
    padding: 10px;
    text-align: center;
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
